{{ if eq .chezmoi.os "windows" -}}
[cd]
    command = "powershell.exe"
{{ end -}}
[hooks.edit-config-template.post]
    command = "chezmoi"
    args = ["init"]
[interpreters.ps1]
    command = "powershell"
    args = ["-NoLogo", "-noni"]
[update]
    apply = false
