# This is Git's per-user configuration file.
[alias]
    br = branch
    ci = commit
    cl = clone
    co = checkout
    cob = checkout -b
    cp = cherry-pick
    dc = diff --cached
    dl = "!git ll -1"
    dlc = diff --cached HEAD^
    dump = cat-file -p
    dw = diff --word-diff
    file-log = log -u
    fl = "!git file-log"
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    la = "!git list-alias"
    ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    le = log --oneline --decorate
    list-alias = "!git config -l | grep alias | cut -c 7-"
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    pushup = "!git push --set-upstream origin $(git symbolic-ref --short HEAD)"
    st = status -s
    sw = switch
    swc = switch -c
    type = cat-file -t
[branch]
    sort = -committerdate
[column]
    ui = auto
[core]
    autocrlf = input
{{- if eq .chezmoi.os "darwin" }}
    # macOS core settings
    # set pager to use delta if installed, otherwise use less
    pager = type delta >/dev/null 2>&1 && exec delta || exec less --tabs=4 -RFX
{{- else if eq .chezmoi.os "windows" }}
    # windows core settings
    # Need sshCommand to be set for 1Password to handle 'git:' repos that connect via ssh
    sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{- else }}
    # linux core settings
{{- end }}
[credential]
    helper =
{{- if eq .chezmoi.os "darwin" }}
    # macOS credential settings
    helper = osxkeychain
{{- else if eq .chezmoi.os "windows" }}
    # windows credential settings
    # Fix issue where credential manager selecter pops up everytime.
    # See: https://github.com/git-for-windows/git/discussions/3410#discussioncomment-1276400
    helper = manager
{{- else }}
    # linux credential settings
    helper = cache
{{- end }}
[credential "https://github.com"]
    helper =
    helper = !gh auth git-credential
[credential "https://gist.github.com"]
    helper =
    helper = !gh auth git-credential
[credential "https://gitlab.thebarkers.com"]
    helper =
    helper = !glab auth git-credential
[diff]
    algorithm = histogram
    colorMoved = plain
	mnemonicPrefix = true
	renames = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[hub]
    protocol = https
[init]
    defaultBranch = main
[pull]
    ff = only
[push]
    default = simple
    autoSetupRemote = true
    followTags = true
[tag]
    sort = version:refname
[user]
    name = Mike Barker
    email = mike@thebarkers.com
