# This is Git's per-user configuration file.
[alias]
    cp = cherry-pick
    st = status -s
    cl = clone
    co = checkout
    cob = checkout -b
    ci = commit
    br = branch
    dw = diff --word-diff
    dc = diff --cached
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
    lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    le = log --oneline --decorate
    list-alias = "!git config -l | grep alias | cut -c 7-"
    la = "!git list-alias"
    file-log = log -u
    fl = "!git file-log"
    dl = "!git ll -1"
    dlc = diff --cached HEAD^
    pushup = "!git push --set-upstream origin $(git symbolic-ref --short HEAD)"
[core]
    autocrlf = input
{{- if eq .chezmoi.os "windows" }}
    excludesfile = "$env:USERPROFILE\.gitignore_global"
{{- else }}
    excludesfile = ~/.gitignore_global
{{- end -}}
{{- if eq .chezmoi.os "windows" }}
    # Need sshCommand to be set for 1Password to handle 'git:' repos that connect via ssh
    sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{- end }}
[credential]
    helper =
{{- if eq .chezmoi.os "darwin" }}
    helper = osxkeychain
{{- else if eq .chezmoi.os "windows" }}
    # Fix issue where credential manager selecter pops up everytime.
    # See: https://github.com/git-for-windows/git/discussions/3410#discussioncomment-1276400
    helper = manager
{{- else }}
    helper = cache
{{- end }}
[credential "https://github.com"]
    helper =
    helper = !gh auth git-credential
[credential "https://gist.github.com"]
    helper =
    helper = !gh auth git-credential
[credential "https://gitlab.thebarkers.com"]
    helper =
    helper = !glab auth git-credential
[hub]
    protocol = https
[init]
    defaultBranch = main
[pull]
    ff = only
[push]
    default = simple
[user]
    name = Mike Barker
    email = mike@thebarkers.com
