# config --- ssh client configuration

# Mike Barker <mike@thebarkers.com>
# Created: October 9th, 2017
# Updated: August 21st, 2025

# External hosts and services
Host github.com
    IdentityFile ~/.ssh/id_ed25519-1p_github.pub

# Local containers and virtual machines
Host ct-debian12-0*
    IdentityFile ~/.ssh/id_ed25519-1p_mike.pub
    User root
Host devbox
    HostName vm-debian12-01.home.thebarkers.com
    IdentityFile ~/.ssh/id_ed25519-1p_mike.pub
    User mike
Host mediabox
    HostName mediabox.home.thebarkers.com
    IdentityFile ~/.ssh/id_ed25519-1p_mike.pub
    User media
Host vm-debian11-01
    HostName vm-debian11-01.home.thebarkers.com
Host vm-debian12-01
    HostName vm-debian12-01.home.thebarkers.com
Host vm-debian12-02
    HostName vm-debian12-02.home.thebarkers.com
Host vm-debian*
    IdentityFile ~/.ssh/id_ed25519-1p_archon.pub
    User archon

# Local hosts and services
Host gmktec*
    IdentityFile ~/.ssh/id_ed25519-1p_archon.pub
    User archon

# Raspberry Pi hosts
Host rpi2*
    IdentityFile ~/.ssh/id_ed25519-1p_archon.pub
    User archon

# Proxmox hosts (Supermicro)
Host sm*
    IdentityFile ~/.ssh/id_ed25519-1p_mike.pub
    User root

# Synology hosts
Host ds1
    HostName ds1.home.thebarkers.com
    IdentityFile ~/.ssh/id_ed25519-1p_mike.pub
    Port 10022
    User admin_dsm

# Ubiquiti devices
Host unifi
    HostName unifi.home.thebarkers.com
    IdentityFile ~/.ssh/id_ed25519-1p_ubiquiti.pub
    User root

# Additional hosts, devpod, etc.
Include config.d/*

# All hosts
Host *
    Protocol 2
    ServerAliveInterval 60
    ServerAliveCountMax 30
    # automatically load keys into ssh-agent
    AddKeysToAgent yes
    # Automatically forward ssh-agent to destination
    ForwardAgent yes
{{- if stat (joinPath .chezmoi.homeDir ".1password" "agent.sock") }}
    # 1Password identity agent for linux/macOS
    IdentityAgent "~/.1password/agent.sock"
{{- else if stat (joinPath .chezmoi.homeDir "Library" "Group Containers" "2BUA8C4S2C.com.1password" "t" "agent.sock") }}
    # 1Password identity agent for macOS
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}
