{{- if eq .chezmoi.os "windows" }}
# run_once_after_copy_profile.ps1
# profile.ps1 hash: {{ include "dot_config/powershell/profile.ps1" | sha256sum }}
# Copy the profile.ps1 to the users profile folders.

# Get the current 'Documents' folder.
$mydocuments = [environment]::GetFolderPath("MyDocuments")

# Copy the profile to the PowerShell folders
$destination = "$mydocuments\PowerShell"
if (Test-Path $destination) {
    Copy-Item profile.ps1 -Destination "$destination" -Force
}

# Copy the profile to the WindowsPowerShell folders
$destination = "$mydocuments\WindowsPowerShell"
if (Test-Path $destination) {
    Copy-Item profile.ps1 -Destination "$destination" -Force
}

{{- end }}
