{{- if eq .chezmoi.os "windows" }}
$mydocuments = [environment]::GetFolderPath("mydocuments")

# Copy the profile to the PowerShell folders
$destination_dir = "$mydocuments\PowerShell"
New-Item -Type Dir "$destination_dir" -Force
Copy-Item profile.ps1 -Destination "$destination_dir" -Force

# Copy the profile to the WindowsPowerShell folders
$destination_dir = "$mydocuments\WindowsPowerShell"
New-Item -Type Dir "$destination_dir" -Force
Copy-Item profile.ps1 -Destination "$destination_dir" -Force

{{- end }}
